<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Road Rush Tutorial</title>
    <script src="../static/road_rush/js/phaser.min.js">
    </script>
    <script src="../static/road_rush/js/main.js"></script>
    <script src="../static/road_rush/js/sceneMain.js"></script>
    <script src="../static/road_rush/classes/road.js"></script>
    <script src="../static/road_rush/classes/util/align.js"></script>
    <script src="../static/road_rush/classes/util/collision.js"></script>
</head>
<body>

<div id='phaser-game'></div>

</body>
</html>
